.transactions { 
    list-style: none; 
    padding: 0rem; 
    display: grid;
}

.transactions small {
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}

.transaction .top {
    display: flex; 
    justify-content: space-between; 
    align-items: baseline;
}

.transaction .bottom {
    display: flex;
    justify-content: space-between;
    align-self: baseline;
    padding: 0.25rem 0 0 0.5rem;
}

.transaction .bottom button {
    background-color: rgb(189, 163, 163);
    border: none;
    border-radius: 0.5rem;
    padding: 0.25rem 1rem;
}

.transaction { 
    border-bottom: 2px solid #1e293b;
    padding: 0.9rem; 
    background: #ffffff00;

    transition: color, background;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}

.transaction:hover{
    color: white;
    background-color: #1e293b;

    transition: color, background;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}
