.transactions { 
    list-style: none; 
    padding: 0rem; 
    display: grid;
}

.transactions small {
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}

.transactions .top {
    display: flex; 
    justify-content: space-between; 
    align-items: baseline;
}

.transaction { 
    border-bottom: 3px solid #1e293b;
    padding: 0.9rem; 
    background: #ffffff00;

    transition: color, background;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}

.transaction:hover{
    color: white;
    background-color: #1e293b;

    transition: color, background;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}
