.transactions { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: grid; 
    gap: .75rem; 
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
}

.transaction { 
    border: 1px solid #1e293b7c; 
    border-radius: 0.5rem; 
    padding: 0.75rem; 
}