@if (transactions(); as list){
    @if (list.length === 0) {   
        <p>No transactions found.</p>
    } @else {
        <ul class="transactions">
            @for (t of list; track t.uid) {
                <li class="transaction">
                    <div class="top">
                        <strong>{{ t.amount | number:'1.2-2' }} {{ t.currencyCode }}</strong>
                        @if (t.comment) {
                            <span class> - {{t.comment}}</span>
                        }
                    </div>
                    <small>{{ t.transactionDate | date:'medium' }}</small>
                </li>
            }
        </ul>
    }
}