<div>
    @if (transactions(); as list){
        @if (list.length === 0) {   
            <p>No transactions found.</p>
        } @else {
            <section class="transactions">
                @for (t of list; track t.uid) {
                    <li class="transaction">
                        <div class="top">
                            <strong>-{{ t.amount | number:'1.2-2' }} {{ t.currencyCode }}</strong>
                            @if (t.comment) {
                                <span class>{{t.comment}}</span>
                            }
                            <small>{{ t.cardNumber | cardNumber }}</small>
                        </div>
                        <div class="bottom">
                            <small>{{ t.transactionDate | date:'medium' }}</small>
                            <button
                                class="danger"
                                aria-label="Delete Transaction"
                                [disabled]="!!deletingId()"
                                (click)="onDeleteClicked(t, $event)">Delete</button>
                        </div>
                    </li>
                }
            </section>
        }
    }
</div>