/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0px solid #1e293b
}

button, input, select {
    border: 2px solid #1e293b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    background-color: white;
    color: black;
    cursor: pointer;

    transition: color, background;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}

button:hover {
    background-color: #1e293b;
    color: white;

    transition: color, background;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}

hr.solid{
    border-top: 2px solid #1e293b;
    box-shadow: #000000;
    padding: 0;
}