.cards { 
    list-style: none; 
    padding: 0rem; 
    display: grid;
    gap: 1rem; 
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); 
    border-radius: .25rem;
}

.card { 
    border: 3px solid #1e293b; 
    border-radius: .5rem; 
    padding: .9rem; 
    background: #fff; 

    transition: color, background;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}

.card:hover{
    background: #1e293b;
    color: white;
    cursor: pointer;

    transition: color, background;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
}

.card .top { 
    display: flex; 
    justify-content: space-between; 
    align-items: baseline; 
}
.card .issuer { 
    opacity: .8; 
    font-size: .9rem; 
}
.card .num { 
    font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace; 
    letter-spacing: .05em; 
    margin: .5rem 0; 
}
.card .meta { 
    display: flex; 
    gap: 1rem; 
    font-size: .9rem; 
    opacity: .9; 
}