<div class="details">
    @if (loading()) { 
        <h2>Loading...</h2> 
    }
    
    @if (error()) {
      <div class="error">{{ error() }}</div>
    }
    
    @if (card(); as c) {
        <h2>Credit Card Details for {{ c.cardHolderName }}</h2>
        <div class="details-container">
            <div class="card">
                <div class="top">
                    <span class="num">{{ c.cardNumber | cardNumber }}</span>
                    <span class="delete"
                        (click)="deleteCard()">Delete this card</span>
                </div>
                <div class="meta">
                    <span>Exp: {{ c.expirationMonth | expirationDate : c.expirationYear  }}</span>
                    <span>CSC: {{ c.cscCode }}</span>
                    <span class="issuer">Iss: {{ c.issuer }}</span>
                </div>
            </div>
            <hr class="solid" />
            <app-transactions-list     
                [transactions]="cardTransactions()"
                [deletingId]="transactionDeletingId()"
                (deleteTransaction)="onDeleteTransaction($event)"/>
        </div>
    }
</div>